.dashboard {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background-color: #1e293b;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

/* Menu items */
.menu-item {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  text-decoration: none;
  color: white;
}

.menu-item:hover {
  background-color: #334155;
}

/* Sub menu */
.submenu {
  margin-left: 15px;
  margin-bottom: 10px;
}

.submenu a {
  display: block;
  padding: 8px;
  color: #cbd5e1;
  text-decoration: none;
  border-radius: 4px;
}

.submenu a:hover {
  background-color: #475569;
  color: white;
}

.content {
  flex: 1;
  padding: 30px;
  background-color: #f1f5f9;
  overflow-y: auto;
  min-width: 0;

  display: flex;
  justify-content: center;
}
